.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* width: 100vw; */
  // background: url("Moon2.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.backgroundText {
  position: relative;
  left: 200px;
  font-size: 50px;

  /* font-family: "poppins",sans-serif; */
}

.background-text {
  position: relative;
  left: 200px;
  font-size: 50px;
}
.wrapper {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 150px;
}

.signup-wrapper {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 46px;
}
.signup-wrapper h1,
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.signup-wrapper .input-box,
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#eyeicon {
  cursor: pointer;
}

#eyeicon-confirm {
  cursor: pointer;
}

/* 
.input-box img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
} */
.signup-wrapper .remember-forgot,
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.signup-wrapper .btn,
.wrapper .btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  border: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.btn:hover .front {
  top: -5px;
  left: 5px;
}

.btn:hover .back {
  background-color: #000;
}

.btn:hover .cosmo {
  opacity: 1;
  top: -70px;
  left: -60px;
  /* rotate: -45deg; */
}

.cosmo {
  transition: all 0.3s;
  position: absolute;
  top: -60px;
  left: -50px;
  width: 75px;
  height: 75px;
  opacity: 0;
  object-fit: cover;
  rotate: -45deg;
}

.front {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 205px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #000;
  transition: all 0.3s;
  color: #000;
}

.back {
  width: 210px;
  height: 50px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}
.signup-wrapper .register-link,
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
