body {
  background-color: #000;
  color: #fff;

}


.heading{
  text-align: center;
  text-decoration: underline;
}


/* Override some react Slick style */

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

.slick-next {
  right: 16px !important;
  z-index: 1;
}

.slick-prev::before {
  color: #fff !important;
  font-weight: bold;
  font-size: 30px !important;
}

.slick-next::before {
  color: #fff !important;
  font-weight: bold;
  font-size: 30px !important;
}



.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--cardColor);
  right: 0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-align: left;
  font-size: 1rem;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(87, 85, 85);
}

.dropdown:hover .dropdown-content {
  display: block;
}